@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-headline: var(--font-headline);
  --font-body: var(--font-body);
  --font-label: var(--font-label);
}

body {
  font-family: var(--font-body);
}

.font-headline {
  font-family: var(--font-headline);
}

.font-label {
  font-family: var(--font-label);
}
